/*groot scherm*/

body {
    background-color: #ccc;
    color: #000;
    background-image: url(../images/../images/extra_patroon/backgroundImage001.jpg);
    /*    background-color: azure;*/
}

div {
    max-width: 850px;
    margin: auto;
    background-color: #fff;
    padding: 25px;
}

figure {
    width: 640px;
    margin: 20px auto;
}
